{% extends "lpe/master.twig" %} {# ----------------------------------------------------------- #} {% block titulo %}Participación{% endblock %} {% block body %}
<div class="container" style=" ">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
            <h2><strong>INSTANCIAS DE PARTICIPACIÓN</strong></h2>
            {# <p class="lead">
El Ministerio de Educación se encuentra desarrollando instancias participativas que constituyen un valioso inicio en la camino de construcción de esta Ley Provincial de Educación.
            </p> #}
            <ul class="list-group">
                <li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    9 Foros regionales: participaron 4320 ciudadanos.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    2 Encuentros con Centros de Estudiantes: participaron 1350 jóvenes.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    1 Encuentro con especialistas: 1800 directivos escolares.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    17 Especialistas.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Consejo Económico Social: participaron 40 instituciones.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Reunión con gremios: AMSAFE, AMET, UDA, UPCN y ATE.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Encuentro con supervisores.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    2 Encuentros  bicamerales.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    4900 establecimientos educativos de todos los niveles y modalidades.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    821.052 estudiantes participaron en el marco de Escuela Abierta.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    63.364 docentes y 12.057 asistentes escolares participaron en el marco de Escuela Abierta.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Foro con referentes de pueblos originarios.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Foro con referentes de cooperativas y ruralidad.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Foro con referentes de instituciones del colectivo LGTBI.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Encuentro con excombatientes de Malvinas.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Encuentro con referentes de organizaciones por la inclusión de estudiantes con discapacidad.
                </li><li class="list-group-item"><i class="zmdi zmdi-check zmdi-hc-fw zmdi-hc-lg"></i>
                    Instancias de diálogo con 184 intendentes y presidentes comunales de localidades de 5 regiones provinciales.
                </li>
            </ul>
            {% if url_informe is not empty %}
                <a href="{{ url_informe }}" class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-download fa-fw"></i> Descargar informe
                </a>
			{% endif %}
        </div>
    </div>
</div>
{% include 'lpe/contenido/opinion/ver.twig' %}

{% endblock body %} {# -------------------------------------------- #} {% block scripts %}
<script>
</script> {% endblock scripts %}